@font-face {
    font-family: VarelaRound;
    src: url("fonts/VarelaRound-Regular.ttf");
}

@font-face {
    font-family: AnonymousPro;
    src: url("fonts/AnonymousPro-Regular.ttf");
}

@font-face {
    font-family: AnonymousPro;
    src: url("fonts/AnonymousPro-Bold.ttf");
    font-weight: bold;
}

body {
    background-image: url("imgs/bg-gray.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #141414;

    font-family: AnonymousPro;
    color: #DCD8D7;

    font-size: 22px;
    font-size: 1.8vw;
}

div.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.links {
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

table {
    border-spacing: 5vw 2vw;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 10px;

    /* background:
    linear-gradient(purple 0%, blue 90%),
    linear-gradient(to right, green 0%, red 90%);*/
    background-blend-mode: screen, difference, lighten;
}

button {
    background-color: #00000000;
    background-image: linear-gradient(#20202081, #33333381);

    /* backdrop-filter: opacity(100%); */
    /* background-image: linear-gradient(to right, #ffffff20, #ffffff20); */
    /* background-blend-mode: multiply; */
    border-radius: 2vw;
    border-width: 0px;
    padding: 12%;
    height: 14vw;
    width: 20vw;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    box-shadow: 4px 8px #272727FA;

    mix-blend-mode: exclusion;
    backdrop-filter: none;

}

button:hover {
    background-image: linear-gradient(to right, #33333381, #20202081);
    backdrop-filter: none;
    /* mix-blend-mode: luminosity; */
}

button.bloat:hover {
    padding: 6%;

}

button:hover img {
    mix-blend-mode: screen, darken;
    width: 110%;
}

button img {
    filter: contrast(200%);
}

img {
    width: 100%;
}

b {
    font-size: 64px;
    font-size: 5vw;
}

a {
    color: #ffffff;
}