@font-face {
    font-family: VarelaRound;
    src: url("fonts/VarelaRound-Regular.ttf");
}

@font-face {
    font-family: AnonymousPro;
    src: url("fonts/AnonymousPro-Regular.ttf");
}

@font-face {
    font-family: AnonymousPro;
    src: url("fonts/AnonymousPro-Bold.ttf");
    font-weight: bold;
}

body {
    background-image: url("imgs/bg-gray.png");
    background-position: right;
    background-color: #141414;

    font-family: AnonymousPro;
    color: #DCD8D7;

    font-size: 22px;
    font-size: 1.8vw;

}

div.links {
    text-align: center;
    margin-top: 10%;
}

div.link {
    background-color: #202020;
    border-radius: 16%;
    width: 25vw;
    height: 20vw;
    margin: 5vw;
    padding: 3vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

div.link:hover {
    background-color:#272727;
}

b {
    font-size: 64px;
    font-size: 5vw;
}

a {
    color: #ffffff;
}