@font-face {
    font-family: VarelaRound;
    src: url("fonts/VarelaRound-Regular.ttf");
}

@font-face {
    font-family: AnonymousPro;
    src: url("fonts/AnonymousPro-Regular.ttf");
}

@font-face {
    font-family: AnonymousPro;
    src: url("fonts/AnonymousPro-Bold.ttf");
    font-weight: bold;
}

body {
    background-image: url("imgs/bg-gray.png");
    background-position: right;
    background-color: #141414;

    font-family: AnonymousPro;
    color: #DCD8D7;
}

div.links {
    text-align: center;
    margin-top: 10%;
}

b {
    font-size: xx-large;
}

a {
    color: #ffffff;
}